<template name="MasterLayout">
	{{#if currentUser}}
		<header class="profile_header navbar-fixed-top">
			<ul class="nav navbar-nav nav_items">
        <li class="dropdown">
          <a href="#" id="dropdown-master" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span id="dropdown-master" class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" id="logout">Log Out</a></li>
            <li><a href="#">Settings</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Help</a></li>
						<li><a href="#">Report a Problem</a></li>
          </ul>
        </li>
      </ul>
		</header>
	{{else}}
		<header id="homepage_header">
			<!-- <h1 class="logo">mickeybook</h1> -->
			<img src="/mickeybook.png" alt="" class="logo" />
			<form id="login_form">
				<button id="login" type="submit">Log In</button>
				<div id="email">
					<p>
						Email
					</p>
					<input type="text" id="login_email">
				</div>
				<div id="password">
					<p>
						Password
					</p>
					<input type="password" id="login_password">
				</div>
			</form>
		</header>
	{{/if}}
	<div class="yield_container">
		{{> yield}}
	</div>
</template>
