/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/
#body_left {
	width: 50%;
	float: left;
}
#about {
	margin-left: 35%;
}
#body_right {
	width: 50%;
	float: left;
}
#body_right input {
	margin-top: .5em;
	margin-bottom: .5em;
}
#body_right .form-control {
	display: inline;
}
#fname_field {
	width: 178px;
}
#lname_field {
	width: 178px;
}
#email_field {
	width: 362px;
}
#password_field {
	width: 362px;
}
#sign_up {
	margin-top: 1em;
}
.fine_print {
	font-size: 60%;
	color: gray;
}
