<template name="Home">
	<span id="body_left">
		<div id="about">
			<h2>Connect with the Mickey
				<br>around you on Mickeybook.</h2>
			<p><b>See photos and updates</b> from Mickey in the news feed</p>
			<p><b>Share what's new</b> in your life on Mickey's Timeline</p>
			<p><b>Find more</b> of Mickey</p>
		</div>
	</span>
	<span id="body_right">
		<form id="signin_form">
			<h2>Sign Up</h2>
			<p>It's Free (for now)</p>
			<input type="text" placeholder="First Name" id="fname_field" class="form-control">
			<input type="text" placeholder="Last Name" id="lname_field" class="form-control">
			<br>
			<input type="text" placeholder="Email" id="email_field" class="form-control">
			<br>
			<input type="password" placeholder="New Password" id="password_field" class="form-control">
			<br>
			<input type="radio" name="sex" value="male">Male
			<input type="radio" name="sex" value="female">Female
			<input type="radio" name="sex" value="mickey">Mickey
			<p class="fine_print">By clicking Sign Up you agree to sell your soul to mickey and pledge
				<br> allegience to his army of giant walking penises</p>
			<button id="sign_up" type="submit">Sign Up</button>
		</form>
	</span>
</template>
