<template name="Profiles">
	<div id="main_content">
		<div id="content_head">
			<div id="profile_thumb">
				<img src="/mickeyprofile.jpg" alt="" id="profile_image" />
			</div>
			<div id="cover_image">

			</div>
			<div id="head_controls">
				<div id="controls">
					<a href="#"><span>Timeline</span></a>
					<a href="#"><span>About</span></a>
					<a href="#"><span>Friends</span></a>
					<a href="#"><span>Photos</span></a>
				</div>
			</div>
		</div>
		<div id="content_body">
			{{>Template.dynamic template=template}}
		</div>
	</div>
</template>

<template name="Timeline">
	<div id="body_info">
		&nbsp;
	</div>
	<div id="body_posts">
		<div>
			<form id="post_form">
				<textarea id="post_input" rows="5" cols="40" placeholder="Write something..."></textarea>
				<div><button type="submit" id="post_button">Post</button></div>
			</form>
		</div>

		{{#each posts}}
			<div class="post">
				<div class="post_head">
					<p>{{username postedBy}}</p>
				</div>
				<p>{{message}}</p>
				<div class="reply">
					<textarea rows="1" cols="35" class="reply_input"></textarea>
				</div>
			</div>
		{{/each}}
	</div>
</template>

<template name="About">

</template>

<template name="Friends">

</template>

<template name="Photos">

</template>
