/*****************************************************************************/
/* Profiles: Style */
/*****************************************************************************/
.profiles {
}
.profile_header {
	background-color: #3B5998;
	height: 3em;
	line-height: 3em;
	width: 100%;
}
