/*****************************************************************************/
/* Profiles: Style */
/*****************************************************************************/
.profiles {
}
.profile_header {
	background-color: #3B5998;
	height: 3em;
	line-height: 3em;
	width: 100%;
}
#main_content {
	width: 981px;
	margin-left: 250px;
	display: inline-block;
}
#ads {
	position: fixed;
	right:245px;
	top: 3.2em;
}
#ads img {
	display: block;
	width: 260px;
	height: 250px;
	margin-bottom: 10px;
}
#content_head {
	position: relative;
	height: 358px;
}
#profile_thumb {
	width: 174px;
	height: 174px;
	border: 1px solid gray;
	border-radius: 3%;
	position: absolute;
	margin-top: 160px;
	margin-left: 30px;
}
#profile_image {
	width: 171px;
	height: 171px;
	border: 3px solid white;
	border-radius: 3%;
}
#profile_name {
	font-size: 160%;
	color: white;
	position: absolute;
	left: 230px;
	bottom: 70px;
}
#cover_image {
	width: 100%;;
	height: 315px;
	background-color: #141823;
}
#head_controls {
	width: 100%;
	height: 43px;
	background-color: white;
}
#controls {
	margin-left: 25%;
	height: 43px;
	padding: .65em;
}
#controls a {
	text-decoration: none;
	font-weight: bold;
	color: #3B5998;
}
#controls span {
	padding: 1.5em;
}
#content_body {
	margin-top: 1.5em;
}
#body_info {
	display: inline-block;
	width: 34%;
	height: 100%;
	float: left;
}
#body_posts {
	display: inline-block;
	height: 100%;
	width: 66%;
	padding-left: 1em;
}
#body_posts textarea {
	width: 100%;
}
.post {
	background-color: white;
	margin-top: 1em;
	margin-bottom: 1em;
	border: 1px solid gray;
	min-height: 12em;
	width: 100%;
	position: relative;
	padding: 1em;
}
.post .glyphicon-play {
	font-size: 70%;
	color: #a7a8a7;
}
.post_body {
	 word-wrap: break-word;      /* IE */
}
.post_bottom {
	font-size: 80%;
	color: #626363;
}
.post_bottom a {
	color: #626363;
	text-decoration: none;
	margin-right: 25px;
}
.reply{
	background-color: #f6f7f8;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3em;
}
.post_head {
	height: 40px;
}
.post_head p {
	display: inline;
}
#post_controls {
	background-color: #dcdee3;
}
.reply textarea {
	width: 20%;
	margin-top: .5em;
	background-color: white;
	border: none;
}
.post_dropdown button{
	border: none;
}
.post_dropdown .glyphicon-chevron-down {
	color: gray;
	font-size: 70%;
}
header .dropdown-toggle {
	background-color: #3B5998;
	height: 2.9em;
	font-color: #0D3850;
}
header .caret {
	border-top: 7px solid #0D3850;
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
}
#timeline_about {
	padding: 10px;
	margin: 0;
	font-size: 80%;
	background-color: white;
}
.box {
	-moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-image: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
}
