/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
.main {
}
body, html {
	padding: 0;
	height: 100%;
	width: 100%;
	margin:0;
	background-color: #dfe3ee;
}
h1 {
	margin: 0;
}
