/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
.main {
}
body, html {
	padding: 0;
	height: 100%;
	width: 100%;
	margin:0;
	background-color: #dfe3ee;
}
#homepage_header {
	background-color: #3B5998;
	height: 5em;
	/*line-height: 5em;*/
	width: 100%;
	color: white;
}
header input {
	width: 144px;
	color: black;
}
header button {
	color: black;
}
.logo {
	/*margin-left: 15%;
	padding-top: .8em;
	float: left;*/
	float: left;
	margin-left: 16.5%;
}
#site_icon, #site_icon:focus, #site_icon:active {
	margin-top: 10px;
	margin-left: 255px;
	height: 28px;
	width: 28px;
	outline: none;
}

#email {
	position: absolute;
	margin-top: 1em;
	top:0;
	right: 737px;
}
#password {
	position: absolute;
	margin-top: 1em;
	top:0;
	right: 580px;
}
#login {
	position: absolute;
	margin-top: 32px;
	top:0;
	height: 24px;
	right: 500px;
}
#login_form {
	margin-right: 400px;
}
.dropdown-toggle#dropdown-master:hover {
	background-color: #3B5998;
}
.caret#dropdown-master:hover {
	border-top: 7px solid #CCCCCC;
}
h1 {
	margin: 0;
}
.profile_header a {
	color: white;
	text-decoration: none;
}
.pull-right {
	float: right;
	clear: both;
}
.pull-left {
	float: left;
	clear: both;
}
.nav_items {
	position: relative;
	float: right;
	margin-right: 520px;
}
.yield_container {
	margin-top: 3em;
	position: relative;
}
