/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
.main {
}
body, html {
	padding: 0;
	height: 100%;
	width: 100%;
	margin:0;
	background-color: #dfe3ee;
}

.dropdown-toggle#dropdown-master:hover {
	background-color: #3B5998;
}

.caret#dropdown-master:hover {
	border-top: 7px solid #CCCCCC;
}

h1 {
	margin: 0;
}
.profile_header a {
	color: white;
	text-decoration: none;
}
.pull-right {
	float: right;
	clear: both;
}
.pull-left {
	float: left;
	clear: both;
}
.nav_items {
	position: relative;
	float: right;
	margin-right: 25em;
}
.yield_container {
	margin-top: 3em;
}
